.addInfo{
    border: 2px solid rgba(27, 69, 82, 0.6);
    box-shadow: 5px 5px 4px 4px rgba(0,0,0,0.2);
    margin: 20px;
}

.addInfo__legend{
    color:white;
    text-shadow: 2px 2px 1px rgba(27, 69, 82, 0.4);
    font-size: 20px;
}