<a class="card-carousel-item" href="{{content?.link}}">
    <img class="card-carousel-item__icon" src="{{content?.icon}}">
    <div class="card-carousel-item__content">
        <h2 class="card-carousel-item__domain">{{content?.domain}}</h2>
        <div class="card-carousel-item__subheader">{{content?.subheader}}</div>
        <div class="card-carousel-item__subscribe-container">
            <div class="card-carousel-item__subscribe">Подписаться •</div>
            <span class="card-carousel-item__subscribers">
                {{content?.content}}</span>

        </div>

    </div>
</a>