.content-block {
  color: @basic-font-color!important;
  display: block;
  padding-bottom: 36px;

  &__wrapper {
    position: relative;
    padding: 12px var(--indent);
    display: flex;
    flex-direction: column;
  }

  &__image {
    height: 168px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: var(--border-radius-main) var(--border-radius-main) 0 0;
  }

  &__header {
    display: flex;
    height: 100%;
    font-weight: var(--bold);
  }
}
