.header-service-block {
  display: flex;
  align-items: center;

  &__icon {
    padding: 4px 8px;
    border-radius: var(--border-radius-main);
  }

  &__link:first-of-type {
    font-weight: 700;
  }

  &__link:hover,
  &__icon:hover {
    background-color: @background-link-hover;
  }
}
