.header-container {
  display: flex;
  align-items: center;
  height: 28px;
  padding: 4px 12px;
  .font;
  font-size: var(--font-size-additional);
  line-height: var(--middle-line-height);
  justify-content: space-between;

  &__link,
  &__button {
    padding: 4px 8px;
    border-radius: var(--border-radius-main);
    text-align: center;
    width: fit-content;
    vertical-align: middle;
  }

  &__link {
    color: @basic-font-color!important;
    white-space: nowrap;
  }
}
