.link-list{
    line-height: 1;
    margin: 0 0 0.5rem;
;

}

.link-list__item{
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: @orange-header-link;
    font-size: .66rem;
    -webkit-margin-end: 0.66rem;
    margin-inline-end: 0.66rem;
}

.link-list__item:hover{
    opacity: 0.66;
}

@media(max-width:800px){
    .link-list__item{
        font-size: 0.55rem;
    }
}