.sign-in-block {
  white-space: nowrap;

  &__link {
    color: @basic-font-color!important;
    white-space: nowrap;
  }

  &__button {
    border: none;
    background-color: @blue-button-and-tab;
    color: white;
    font-weight: 400;
    height: 28px;
  }

  &__link,
  &__button {
    padding: 4px 8px;
    border-radius: var(--border-radius-main);
    text-align: center;
    width: fit-content;
    vertical-align: middle;
  }
}
