<div class="card" *ngIf="card" [class._column-content]="card.video || card.carousel">
    <a class="card__link" href="{{card.link}}" *ngIf="!(card.video || card.carousel)">
        <img class="card__image" src="{{card.icon}}">
    </a>
    <div class="card__content">

        <app-card-header [content]="card" *ngIf="!card.carousel"></app-card-header>
        <app-card-content [content]="card" *ngIf="!card.carousel"></app-card-content>
        <app-card-footer [content]="card" *ngIf="!card.carousel"></app-card-footer>

        <app-card-carousel-header [content]="card" *ngIf="card.carousel"></app-card-carousel-header>
        <app-card-carousel-content [content]="card" *ngIf="card.carousel"></app-card-carousel-content>

    </div>
</div>