.container{
    width: 160px;
    height: 80px;
    border-radius: 5px;
    background-color: rgba(252, 255, 65, 0.568);
    margin: 10px;
    width: fit-content;
    height: fit-content;
    display: inline-block;
}

.container_perspective{
    perspective: 300px;
}

.container_perspective-origin{
    perspective: 250px;
    perspective-origin: center left;
}
