.flex-example{
    display: flex;
    padding: 0 5px;
    width: fit-content;
    background-color: rgba(161, 255, 239, 0.301);
    border-radius: 5px;
}


.flex-example__div, .flex-example__span, .flex-example__list-item{
    background-color: #2FB8DA;
    color:black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.flex-example_direction{
    flex-direction: column;
    margin-right: 60px;
    margin-top: 0;
}

.flex-example_list{
    list-style: none;
    list-style-position: inside;
}

.flex-example_wrap{
    flex-wrap: wrap;
    width: 530px;
    clear: left;
}

.flex-example_flow{
    flex-flow: column wrap-reverse;
    height: 200px;
    width: 120px;
    margin-right: 60px;
}


.flex-example_justify-content{
    padding: 0;
    justify-content: space-between;
    width: 530px;
}

.flex-example_align-content{
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 120px;
}

.flex-example_grow{
    width: 530px;
}

.list-item_grow-1{
    flex-grow:3;
}