.footer-contactInfo{
    clear: both;
    padding: 0 5%;
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.692);
    padding-top: 30px;
    margin-top: 50px;
}

.footer-contactInfo__header{
    font-weight: bold;
    text-shadow: 0 0 10px white, 0 0 15px white;
}

.footer-contactInfo__authorName{
    font-style: italic;
}

.footer-contactInfo__address{
    font-style: normal;
}

.footer-contactInfo__link{
    color: white;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.4s;
}

.footer-contactInfo__link:hover{
    color:#2FB8DA;
    text-shadow: 0 0 5px #2FB8DA, 0 0 10px #2FB8DA, 0 0 15px #2FB8DA;
    font-weight: bold;
}