.grid-example{
    display: grid;
    background-color: rgba(255, 174, 82, 0.719);
    border-radius: 10px;
    padding: 5px;
    grid-template-columns: 27% 40% 27% ;
    grid-template-rows: 25% 40% 25%;
}

.grid-example_template{
    grid-template-columns: 27% 40% 27%;
    grid-template-rows: 40px 80px 40px;
}

.grid-example_list{
    list-style-type: none;
}

.grid-example__list-item{
    background-color: rgb(255, 174, 82);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    color: black;
}

.grid-example_repeat{
    grid-template-columns: 40% repeat(3, 20%);
    grid-template-rows: 50px;
}

.grid-example_areas{
    grid-template: repeat(3,30%)/1fr 2fr 1fr;
    grid-template-areas: "header header header"
                         "part1    .    part2"
                         "part3  part4  part2";

}


.list-item_area-header{
    grid-area: header;
}

.list-item_area-part1{
    grid-area: part1;
}

.list-item_area-part2{
    grid-area: part2;
}

.list-item_area-part3{
    grid-area: part3;
}

.list-item_area-part4{
    grid-area: part4;
}

.grid-example_position{
    grid-template: 1fr 1fr/ 1fr 1fr;
    margin: auto;
    height: 200px;
    align-items: center;
    justify-items: center;
    padding: 5px;
}

.list-item_top{
    height: 30px;
    align-self: flex-start;
}

.list-item_bottom{
    height: 30px;
    align-self: flex-end;
}

.list-item_left{
    justify-self: start;
}