@keyframes shadow{
    from {text-shadow: 0 0 5px #64ffe5, 0 0 10px #64ffe5, 0 0 15px #64ffe5;
          box-shadow:  0 0 20px #64ffe5, 0 0 40px #64ffe5, 0 0 50px #64ffe5;}
    50% {text-shadow: 0 0 5px #64ffe5, 0 0 10px #64ffe5, 0 0 15px #64ffe5;
         box-shadow: 0 0 10px #ffffff, 0 0 15px white, 0 0 20px white, 0 0 20px #64ffe5, 0 0 40px #64ffe5, 0 0 50px #64ffe5;}
    to {text-shadow: 0 0 5px #64ffe5, 0 0 10px #64ffe5, 0 0 15px #64ffe5;
        box-shadow:  0 0 20px #64ffe5, 0 0 40px #64ffe5, 0 0 50px #64ffe5;}
}

.header{
    text-align: center;
}

.header__blockquote{
    color: #ffe958;
    width: fit-content;
    margin-left: auto;
    text-align: right;
    font-style: italic;
}
.header__blockquote-cite{
    opacity: 80%;
}
.header__header-h1{
    color: #64ffe5;
    width: fit-content;
    padding: 20px;
    margin: auto;
    font-weight: normal;
    border: 2px solid #64ffe5;
    border-radius: 5px;
    text-shadow: 0 0 5px #64ffe5, 0 0 10px #64ffe5, 0 0 15px #64ffe5;
    box-shadow:  0 0 30px #64ffe5, 0 0 50px #64ffe5, 0 0 70px #64ffe5;
    animation: shadow  6s infinite ease-in-out;
}

.header__small, .header__link{
    color:rgba(255, 255, 255, 0.61);
    display:block;
    margin: 15px;
}

.header__link{
    transition-property: color, text-shadow, font-weight;
    transition-duration: 0.3s;
}
.header__link:hover{
    color:#2FB8DA;
    text-shadow: 0 0 5px #2FB8DA, 0 0 10px #2FB8DA, 0 0 15px #2FB8DA;
    font-weight: bold;
}