.navigation{
    background-color: rgba(240, 248, 255, 0.192);
    width: 35%;
    height: 50%;
    margin-left: 5%;
}

.navigation__list{
    display: grid;
    grid-template: repeat(8, 1fr)/1fr;
    padding: 40px;
    list-style-position: inside;
}

.navigation__list-item{
    margin-bottom: 6px;
}

.navigation__header{
    font-weight: bold;
    font-size: larger;
    margin-top: 0px;
}

.navigation__item-link{
    color: white;
    text-decoration: none;
    transition-property: color, font-size;
    transition-duration:0.5s;
    display: inline-block;
}

.navigation__item-link:hover{
    color: rgb(253, 238, 98);
    font-size: larger;
    text-shadow: 0 0 5px rgb(253, 238, 98), 0 0 10px rgb(253, 238, 98), 0 0 15px rgb(253, 238, 98);
}


