@font-face {
	font-family: 'Montserrat-Regular'; 
	src: url(../font/Montserrat-Regular.ttf); 
}

body{
    background-image: url(../picture/back.jpg);
    background-attachment: fixed;
    font-family:'Montserrat-Regular', sans-serif;
    color:white;
}

main{
    padding: 0 5%;
}

.wrapper{
    background-color: rgba(0, 0, 0, 0.603);
    width:100%;
    height: 100%;
}

.inline-block{
    display: inline-block;
    width: fit-content;
}


.chapter__header{
    margin: 40px 0;
    clear: both;
    transition-duration: 0.5s;
    transition-property: all;
}

.chapter__header:hover{
    text-shadow: 0 0 5px white, 0 0 10px white;
}

