<div class="news-header-block">
    <img class="news-header-block__header-icon" src="https://yastatic.net/s3/home/services/block/news_new.svg">
    <h1 class="news-header-block__header">
        <a class="news-header-block__header-link"
            href="https://yandex.ru/news?msid=1638497867.25967.85479.155576&mlid=1638497401.glob_225&utm_medium=topnews_news&utm_source=morda_desktop">
            Сейчас в СМИ</a>
    </h1>
    <h1 class="news-header-block__header">
        <a class="news-header-block__header-link"
            href="https://yandex.ru/news/region/moscow?msid=1638778387.4548.85300.987717&mlid=1638778062.geo_213&utm_medium=topnews_region&utm_source=morda_desktop">
            в Москве</a>
    </h1>
    <h1 class="news-header-block__header">
        <a class="news-header-block__header-link" href="https://yandex.ru/news/rubric/koronavirus?from=main">
            Коронавирус
        </a>
    </h1>
</div>