body{
    background-color: #997d23af;
    font-family:cursive;

}

#back, footer{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

}

#back{
    background-color: #f39d2c;
    height: 95%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 10px -5px 10px 10px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
}

main{
    clear: both;
}

footer, section, nav{

    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

header, nav, nav div, aside, section{
    border-radius: 20px;
    padding: 10px;
}


footer{
    background: linear-gradient(to bottom,#7d9936,#aac566);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 30px;
}

footer h4{
    border-bottom: 2px dashed black;
    width: fit-content;
}

blockquote{
    font-family: fantasy;
    color: #753109;
    text-align: end;

}

header{
    background-color: #fab83d;
    box-shadow:5px 5px 10px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px;
}

header h1{
    color: #b64808;
    border-bottom:4px dashed #b64808;
}


header p{
    font-size: 14px;
}

header h1::before, h1::after{
    background-image:url("./picture/autumn.png");
    display: inline-block;
    background-size: 35px 35px;
    width: 35px;
    height: 35px;
    content: "";
    padding-left: 10px;
    background-repeat: no-repeat;
}

h1::after{
    background-position-x: 10px;
}

abbr{
    text-decoration: none;
}

a{
    color:black;
    font-weight: bold;
}


a:hover{
    text-decoration: none;
    color:#6C9B0D;
}

figure{

    width: 40%;
    display: inline-block;
}

figcaption{
    padding-left: 20px;
}

img{
    padding-left: 20px;
    padding-top: 20px;
    width: 100%;   
}

nav{
    background: url("./picture/backNav.png") right top no-repeat,#a5c54b;
    margin-bottom: 20px;
    width: 50%;
    display: inline-block;
    
}

nav div{
    margin-left: -10px;
    box-shadow:10px 10px 10px 10px rgba(0, 0, 0, 0.4);
    width: 60%;
}

nav a{
    font-weight: normal;
    text-decoration: none;
    color: black;
    transition-property: font-size;
    transition-duration: 0.5s;
}

nav a:hover{
    color:#b64808;
    font-size: 18px;
}



nav ul a:hover, footer a:hover{
    color: #d7fa75;
}


ol{
    list-style-position: inside;
}

ol p{
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    border-bottom: 2px dashed #d7fa75;
    color: #d7fa75;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}



aside{
    float: right;
    width:fit-content;
    background-color: #a5c54b;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
    margin-right: -0.5%;
    padding: 20px;
}


section{
    background-color: #f7c871;
    padding: 20px;
    margin-bottom: 20px;
    outline: 4px outset #7ca32f;
}

section p{
    text-indent: 40px;
}

section article:last-child{
    border-bottom: none;
}

aside p, footer p{
    text-indent: 0;
}

aside hr{
    border: 2px dotted #5C8001;
}

article{
    border-bottom: 1px dotted #5C8001;
}


article ul{
    padding-left: 0;
    list-style-position: inside;
    list-style-type: circle;
}

h3{
    color: #5C8001;
    text-align: center;
}


h2{
    border-bottom: 2px dashed #6C9B0D;
    color: #6C9B0D;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

}



p span, li span{
    text-decoration: underline;
    font-weight: bold;
    color:#b64808;
}


audio{
    padding: 20px;
}

video{
    width: 50%;
}

h4 code{
    padding: 5px;
    display: inline-block;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
}

#part4_3{
    cursor: copy;
}

#part5 article, #part6_2{
    border-bottom: none;
}

#linEx, #radEx, #repEx{
    padding-bottom: 20px;
    display: inline-block;
    width: 22%;
    padding-right: 20px;
}


#linEx div, #radEx div, #repEx div{
    height: 100px;
    outline: 3px solid rgba(0, 0, 0, 0.2);
}

#linEx div{
    background: linear-gradient(45deg, #6C9B0D 20%, #e0e4d8 50%, #f7a771 80%);
}

#radEx div{
    background: radial-gradient(circle at top center, #6C9B0D 10%, #e0e4d8 40%, #f7a771 80%);
}

#repEx{
    width: 45%;
}

#repEx span{
    display: inline-block;
    width: 45%;
    margin-right: 20px;
}

#repEx span:nth-of-type(1) div{
    background: repeating-linear-gradient(60deg,#6C9B0D,#6C9B0D 10px,#e0e4d8 10px,#e0e4d8 15px,#f7a771 15px, #f7a771 25px);
}

#repEx span:last-child div{
    background: repeating-radial-gradient(at top left,#6C9B0D,#6C9B0D 10px,#e0e4d8 10px,#e0e4d8 15px,#f7a771 15px, #f7a771 25px);
}

#part6_2,#part6_3{
    display: inline-block;
    width: 45%;
}


#part6_2 div, #part6_3 div{
    margin-top: 20px;
    height: 168px; 
    width: 280px; 
    border: 40px solid transparent;
}

#part6_2 div{
    border-image: url("./picture/borderImage.png");
    border-image-slice: 30;
}

#part6_3 div{
    border-image: repeating-linear-gradient(45deg,#6C9B0D,#6C9B0D 10px,#e0e4d8 10px,#e0e4d8 15px,#f7a771 15px, #f7a771 25px);;
    border-image-slice: 40;
}

#part7 p span:nth-of-type(2){
    color:black;
    font-weight: normal;
    text-decoration: overline dashed black;

}

#part7_2 p{
    font-size: 20pt;
    display: inline-block;

}

#part7_2 p:nth-of-type(1){
    color: #d7fa75;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#part7_2 p:nth-of-type(2){
    color: #f7c871;
    letter-spacing: .1em;
    text-shadow: 3px 0 rgba(175, 110, 49, 0.5), 6px 0 rgba(204, 138, 52, 0.4), 9px 0 rgba(182, 135, 66, 0.3), 12px 0 rgba(240, 144, 65, 0.2), 15px 0 rgba(192, 147, 80, 0.1);
}

#part7_2 p:nth-of-type(3){
    color: transparent;
    text-shadow: 2px -2px rgba(105, 159, 156, 0.7), 0 2px rgba(207, 21, 254, 0.7), 4px -4px rgba(227, 157, 157, 0.7);
}




#part8 h2{
    transition-property: font-size, color;
    transition-duration: 2s;
}

#part8 h2:hover{
    font-size: 30px;
    color:#b64808;

}

#part9 code{
    transition: all 0.3s;
}

#part9 code:hover{
    font-size: 17px;
    transform: rotate(10deg);
}

#part9 div{
    height: 100px;
    width: 100px;
    background-color:rgb(245, 136, 41);
    transition: all 1s;
}

#part9 div:hover{
    background-color: seagreen;
    transform-origin: left top;
    transform: rotate(360deg);
}

#part9 p:last-of-type{
    font-size: 18pt;
    display: inline-block;
    padding: 10px;
    text-indent: 0;
    margin-right: 20px;
    background-color: black;
    color: black;
    transition: all 1s;
}


#part9 p:last-of-type:hover{
    color: white;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px rgb(83, 220, 20), 0 0 35px rgb(83, 220, 20), 0 0 40px rgb(83, 220, 20), 0 0 50px rgb(83, 220, 20);
}