#cite1{
    margin-left: 70%;
    width: 35%;
    float: left;
}


#annotation{
    display: inline;
    position: absolute; 
    padding-top: 10px;
    width: 60%;
}

#cont{
    padding-top: 100px;
    float: none;
}



p{
    font-size: 16px;
}

body{
    background-image: url(background.jpg);
    background-attachment: fixed;
    
}

.main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    max-width: 100%;
}




a{
    display: inline-block;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 1px;
    font-size: 12px;
    color: #4D2F31;
}



a[href$=".txt"]{
    background: url("txt-file.png") no-repeat;
    padding-left: 18px; 
    color: rgb(48, 5, 5);
}



a[href$=".txt"]:hover{
    color: #FE5568;
    text-decoration: none;
}



a.noImage, .noImage a{
    text-decoration: none;
    background-image: linear-gradient(#FE5568 50%, #FE5568 50%), linear-gradient(#4D2F31 50%, #4D2F31 50%);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 2px;
    padding-bottom: 3px;
}



.refMenuAndNext a{
    display: inline;
    width: 100%;
    text-align: center;
}



a.noImage:hover, .noImage a:hover{
    background-size: 100% 2px, 100% 2px;
     color: #FE5568;
}



#abbriv{
    font-family: 'Fredoka One', cursive;
    color:rgb(250, 128, 114);
    border-style: dashed;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
}



ol {
    list-style: none;
    counter-reset: li;
 }



 ol li:before {
    counter-increment: li;
    content: counters(li, ".") ". ";
 }



 ul{
    list-style-type: circle;
    width: auto;

 }



 caption, dt, #Contacts h4{
     color: #4D2F31;
     font-weight: bold;
     font-family: 'Fredoka One', cursive;
 }



 #Contacts h4{
     text-decoration: underline;
     
 }

 #Contacts{
     background-color: rgba(152, 130, 214, 0.445);
     width: 100%;
     padding-bottom: 30px;
 }

 #Contacts h4, dl{
    padding-left: 30px;

 }




 hr{
    height: 30px;
    border: 0;
    box-shadow: inset 0 15px 12px -5px rgba(133, 67, 59, 0.25);
    margin-top: 20px;
    clear: both;
 }



 #mainPart2{
    border: 3px rgb(219, 75, 59) dashed;
    padding: 20px 100px;
    border-radius: 15px;
    background-color: rgba(255, 162, 152, 0.45);
}



.space{
    height: 100px;
}



th,td{
    width: 100px;
    border: 2px solid rgb(139, 69, 61);
    margin: -2px;
}



table{
    float: left;
    margin-right: 20px;
    border: 4px dashed rgb(139, 69, 61);
    border-collapse: collapse;
}



.example td, .example{
    background-color: rgba(152, 130, 214, 0.445);
    border: none;
}



.example th,.example td{
    border: none;
    width: 150px;
    padding: 10px 10px;    
}



.example tr:nth-child(2n){
    background-color: rgba(36, 17, 87, 0.753);

}



.example caption{
    caption-side: bottom;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: none;
    font-style: italic;
}



#mainPart5 p:nth-child(3){
    font: menu;
    display: block;
    background-color: rgba(169, 143, 241, 0.445);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}


#mainPart6 div{
    padding: 10px;
    position: relative;
}

#mainPart6 div:after{
    border-radius: 10px;
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(background2.jpg); 
    width: 100%;
    height: 100%;
    opacity : 0.6;
    z-index: -1;
}



#backEx{
    height: 400px;
    width: 55%;
    float: left;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-image:  url(backEx2.png),url(backEx1.png);
    background-position: center center, 30%;
}



#bodEx{
    border-top: 4px solid rgb(143, 68, 81);
    border-bottom: 4px solid rgb(143, 68, 81);
    border-left: 4px double rgb(180, 91, 106);
    border-right: 4px double rgb(180, 91, 106);
    padding: 10px;
    display: inline-block;
    right: 3%;
    width: 40%;
}



#annotation h1::before{
    content:"\27A4";
    display: inline-block; 
    font-size: 30px; 
    color: #000000; 
    -webkit-animation: my 6s infinite alternate; 
    animation: my 6s infinite alternate; 
    margin-right: 20px;
}



@keyframes my {
    0%   {color: #853952;}
    33%  {color: #d1536e;}
    66%  {color: #ec0202;}
    100%  {color: #f74e00;}
}



#mainPart4 h1::after,#mainPart4 h1::before{
    content:"HW!";
    font-family: "Segoe Print", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: sienna;
    display: inline-block;
    border-radius: 100%;
    border-color: sienna;
    background-color: rgb(255, 183, 136);
    border: 2px dotted sienna;
    padding: 5px;
    
}



#mainPart4 h1::after{
    margin-left: 20px;
}

#mainPart4 h1::before{
    margin-right: 20px;
}

#gen ul{
    position: relative;
    display: inline-block;
    border: 6px double rgb(122, 56, 50);
    background-color: rgba(233, 148, 139, 0.671);
    padding: 30px;
    list-style-position: inside;
    list-style-image: url(arrow.png);
    height: 100%;
}

#gen{
    background: radial-gradient(rgba(143, 79, 98, 0.753), transparent);
    border-radius: 10px;
}

#gen ul:first-child{
    margin-right: 20%;
}

#gen ul:last-child{
    margin-left: 20%;
}

