@blue-link: #005bd1;
@blue-VK: #07f;
@blue-button-and-tab: #005ff9;
@blue-button-border: #0054db;
@blue-button-hover: #0059ea;
@blue-news-link: #528fdf;

@link-background-color: #f0f1f3;
@link-hover-background-color: #e6e8ec;
@left-content-color: #919399;
@adv-tag: #999;
@reaction-svg-color: #bfc1c7;
@background-color-authorization: rgb(240, 241, 243);
@left-footer-hover: rgba(0, 0, 0, 0.04);
@main-content-header-border: rgba(0, 0, 0, 0.12);
@box-shadow-hover: rgba(0, 0, 0, 0.16);

@search-form-border-color: #ff9e00;
@search-form-border-color-hover: #f69902;

@green: #0dc268;

@red: #f44e4e;

@basic-font-color: #2c2d2e;

@background-link-hover: rgba(0, 16, 61, 0.041);
