@media (max-width: 1200px) {
  ._media-display-none {
    display: none;
  }
}

._smaller {
  font-family: "Helvtica", "Arial", sans-serif;
  font-size: var(--font-size-additional);
  line-height: var(--middle-line-height);
  font-weight: var(--bold);
}
