.weather-content {
  display: flex;

  &__current-link,
  &__link {
    text-decoration: none;
    color: black;
    transition: color 0.15s ease-out;
    margin-right: 12px;
  }

  &__current-link:hover,
  &__link:hover {
    color: #c00;
  }

  &__current-link {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__current-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-size: 100% 100%;
    background-image: url("https://yt3.ggpht.com/ytc/AKedOLREZVEpfdzzUqSWtr-lvJ9MN-aihu0Fbzmguv0juw=s900-c-k-c0x00ffffff-no-rj");
  }

  &__current-label {
    display: inline-block;
    font-size: 2em;
  }

  &__link {
    display: inline-block;
  }

  &__header {
    display: block;
    color: #90919d;
    font-size: 80%;
  }

  &__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-image: url("https://yt3.ggpht.com/ytc/AKedOLREZVEpfdzzUqSWtr-lvJ9MN-aihu0Fbzmguv0juw=s900-c-k-c0x00ffffff-no-rj");
    vertical-align: bottom;
  }
}
