body{
    background-color: rgb(115, 202, 141);
    background-image: url("../picture/back.png");
    font-family: cursive;
    padding-top: 20px;
}

.form{
    margin: auto;
    padding: 15px 40px;
    width: 400px;
    background: radial-gradient(circle at center center,rgb(172, 241, 139) 70%, rgb(104, 163, 76) 100%);
    border: 3px solid rgb(104, 163, 76);
    border-radius: 20px;
}

.fieldset{
    border: 2px dotted rgb(104, 163, 76);
    margin: 10px 0;
    background-color:  rgba(103, 163, 76, 0.507);
    border-radius: 5px;
    padding: 5px;
}

.form__header{
    text-align: center;
    font-size: 20pt;
    font-family: cursive;
    color: rgb(68, 105, 51);
}

.fieldset__label{
    display: block;
    padding: 4px ;
}

.fieldset__input, .fieldset__select, .form__button{
    color: rgb(68, 105, 51);
    font-family: cursive; 
    background-color: rgb(207, 241, 191);
    border: 1px solid rgb(68, 105, 51);
    border-radius: 10px;
    padding: 3px;
}

.input_type_input{
    padding: 3px 10px;
}

.input_type_file{
    padding:0;
}

.fieldset__block .fieldset__label, .fieldset__block .fieldset__block-header{
    display: inline-block;
}

.fieldset__legend{
    color:rgb(46, 73, 34);
    font-size: 14pt;
}

.fieldset:last-child{
    display: flex;
    justify-content: space-evenly;
    background: none;
    border: none;
}
.form__button{
    font-size: 14pt;
    padding: 5px;
    display: inline-block;
    color:  rgb(45, 70, 33);
    background: linear-gradient(180deg, rgb(207, 241, 191) 0%, rgb(110, 150, 88) 90%);
}

.fieldset__select-option{
    max-height: 10px;
}

.fieldset:nth-of-type(3) .fieldset__label{
    margin-left: 20px;
}

.input_type_checkbox{
    position: absolute;
    margin-top: 8px;
    opacity: 0;
    z-index: -1;
}

.input_type_checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  
.input_type_checkbox+label::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(104, 163, 76);
    border-radius: 4px;
    margin-right: 8px;
    background-color: rgb(191, 238, 170);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin-left: -8px;
  }

  .input_type_checkbox:checked+label::before {
    border-color: #266129;
    background-color: #438546;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }