<div class="headline _text-style-headline">
    <div class="headline__container"><span class="headline__geodata"><a class="headline__link" href="">
                <svg class="headline__geolink-button" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    viewBox="0 0 16 16">
                    <g fill="none">
                        <circle stroke="currentColor" stroke-width="1.8" cx="8" cy="8" r="4.5"></circle>
                        <circle fill="currentColor" cx="8" cy="8" r="2"></circle>
                        <path d="M1.5 8H3m10 0h1.5M8 1.5V3m0 10v1.5" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round"></path>
                    </g>
                </svg>
                Москва
            </a></span>

        <span id="current_date" style="margin-right: 5px"></span>
        <a class="headline__link" href="https://yandex.ru/time"><span class="datatime" id="current_time"></span></a>
        <script src="../get-time.js"></script>
    </div>
    <div class="headline__container">
        <div class="headline__market-link" title="Корзина на Маркете">
            <a
                href="https://market.yandex.ru/my/cart?utm_source=morda_header_icon&clid=956&purchase-referrer=morda_header_icon&src_pof=956&icookie=7L%2FAHj%2FcEj0Vp6GatWzsFcbQtbPLUaT8q59DKcUs2U%2FnykosG0a19Lpodgosle%2FQv%2Bl0tvdZnUaEbMfURh9piOvrcCM%3D&utm_source_service=morda">
                <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20.68 5.55H6.48l-.46-1.68a2.2 2.2 0 0 0-2.13-1.62H1.43a1.1 1.1 0 1 0 0 2.2H3.9l2.82 10.33a2.2 2.2 0 0 0 2.48 1.6l11.3-1.9a2.2 2.2 0 0 0 1.84-2.16V7.2c0-.91-.74-1.65-1.65-1.65zM5.83 22.05a2.2 2.2 0 1 0 0-4.4 2.2 2.2 0 0 0 0 4.4zm11 0a2.2 2.2 0 1 0 0-4.4 2.2 2.2 0 0 0 0 4.4z"
                        fill="#000" />
                </svg>
            </a>
        </div>
        <div class="headline__notifier" title="Уведомления">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" focusable="false">
                <path d="M18 30a3 3 0 0 0 3-3c0-1.657-1.5 0-3-17-1.5 17-3 15.343-3 17a3 3 0 0 0 3 3z"></path>
                <path
                    d="M15.687 12.5l.3-.164a1.5 1.5 0 0 0 .75-1.021l.142-.712a.75.75 0 0 1 .736-.603h.77a.75.75 0 0 1 .736.603l.142.712a1.5 1.5 0 0 0 .75 1.02l.3.165a5.586 5.586 0 0 1 3.24 4.47l.54 4.863c.1.906.563 1.733 1.282 2.292l.354.275a1.5 1.5 0 0 1 .534 1.548L26.25 26a1.32 1.32 0 0 1-1.28 1H11.03a1.32 1.32 0 0 1-1.28-1l-.013-.052a1.5 1.5 0 0 1 .534-1.548l.354-.275a3.375 3.375 0 0 0 1.282-2.292l.54-4.864a5.586 5.586 0 0 1 3.24-4.469z">
                </path>
            </svg>
        </div>
    </div>
</div>