<div class="card-carousel-content">
    <div class="card-carousel-content__button-prev" hidden>
        <svg class="card-carousel-content__button-icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
            <path transform="rotate(180) translate(-16, -16)"
                d="m10.586 8.003-4.79 4.793a1 1 0 0 0 1.415 1.414l5.496-5.5a1 1 0 0 0 0-1.414l-5.496-5.5A1 1 0 0 0 5.796 3.21l4.79 4.793Z">
            </path>
        </svg>
    </div>
    <div class="card-carousel-content__button-next">
        <svg class="card-carousel-content__button-icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
            <path transform=""
                d="m10.586 8.003-4.79 4.793a1 1 0 0 0 1.415 1.414l5.496-5.5a1 1 0 0 0 0-1.414l-5.496-5.5A1 1 0 0 0 5.796 3.21l4.79 4.793Z">
            </path>
        </svg>
    </div>
    <div class="card-carousel-content__carousel-grid">
        <app-card-carousel-item *ngFor="let item of content?.carousel" [content]="item"></app-card-carousel-item>
    </div>
</div>