<app-media-card-header [cardHeaderContent]="trafficHeader"></app-media-card-header>
<div class="traffic-content" *ngIf="trafficContent">
    <div class="traffic-content__container">
        <a class="traffic-content__link" href="{{trafficContent.link}}">
            <img class="traffic-content__icon" src="{{trafficContent.icon}}">
            <div class="traffic-content__label">{{trafficContent.label}}</div>
            <!-- content -->
        </a>
        <a class="traffic-content__link" href="{{trafficContent.link}}">
            <div class="traffic-content__title">{{trafficContent.title}}</div>
            <!-- inline-... -->
        </a>
    </div>
</div>